{{> layouts/header}}

<h1> 쓰기글 </h1>
<form action="/articles/create" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">제목</label>
        <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">내용</label>
        <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">확인</button>
    <button type="reset" class="btn btn-primary">취소</button>
</form>
{{> layouts/footer}}